.col-md-4 {
  margin-top: 0;
  padding-top: 5px;
  background-color: aliceblue;
  min-height: 70vh;
}

.col-md-4 p {
  margin: 0;
  font-style: italic;
}

.col-md-4 ul {
  margin-left: 15px;
}

#daily {
  height: 28vh;
  border-bottom-style: groove;
}

/* #fiveDay {
  
} */

/* .col-md-2 {
  padding-top: 10px;
  height: 35vh;
  background-color: darksalmon;
  border-style: solid;
} */
